<div class= "col-md-12">
  <div class= "row">
  <p class=".p">
    <div class= "col-md-3">
      <%= comment.user %>
    </div>
    <div class= "col-md-7">
      <%= comment.body %>
    </div>
    <div class= "col-md-2">
      <%= time_ago_in_words(comment.created_at) %>
    </div>
  </p>
  </div>
</div>
